<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<connectionStrings>
		<add name="RallyEventDb" connectionString="Host=localhost;Username=postgres;Password=password;Database=rally_events"/>
	</connectionStrings>
</configuration>